/**********Général**********/
a
{
    text-decoration: none;
}

html
{
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    background-color: #4D4D4D;    
}
/**********Fin Général**********/


/****************************************/
/**********Header**********/
/****************************************/
header
{
    height: 200px;
    border: 2px solid #5C5C5C;
}

.titre_site
{
    text-align: left;
    margin-left: 35px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.texte_titre
{
    margin-left: 35px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
    
}

nav 
{  
    margin-left: 35px;  
    border: 2px solid #5C5C5C;
    width: 950px;
}  

nav li 
{  
    display: inline;  
    list-style: none;  
}  

nav a 
{  
    margin: 0 25px;  
    text-decoration: none;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

nav form
{
    display: inline-block;
    padding-left: 20px;
}

/****************************************/
/**********Fin Header**********/
/****************************************/


/********************Corps********************/
/********************Général********************/
body
{
    margin: auto;
    background-image: url('../images/dégrade-gris.png');
    background-size: cover;
    max-width: 1024px;
    border: 2px solid #5C5C5C;
}

#fil_d_ariane
{
    margin-left: 80px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

#fil_d_ariane a
{
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

/********************Fin Général********************/

/********************Article********************/
article
{
    border: 2px solid #5C5C5C;
    height: auto;
}

article h1
{
    text-align: left;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.search
{
    margin-left: 80px;
    margin-bottom: 50px;
}

.result_search
{
    margin-left: 80px;
}
/********************Fin Article********************/

/********************Section********************/

.texte_accueil
{
    margin: auto;
    width: 600px;
    margin-bottom: 25px;
    text-align: left;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}
/********************Fin Section********************/

/****************************************/
/********************Fin Corps********************/
/****************************************/

/****************************************/
/********************Footer********************/
/****************************************/
footer
{
    height: 100px;
    border: 2px solid #5C5C5C;
}
#suivez_nous p
{
    margin-left: 80px;
    margin-top: 25px;
    width: 120px;
    font-size: 13px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
    float: left;
}

a.infobulle
{
    position: relative; 
}

a.infobulle
{
    position: relative; 
}

 a.infobulle span  
{  
    position: absolute;  
    top:-2000em;  
    left:-2000em;  
    width:1px;  
    height:1px;  
    overflow:hidden;  
    background:#DDEEFF; /* Définition du fond, sinon on a le même que notre lien */ 
    /*border:1px solid #6699FF; /* Définition des bordures */
} 
  
a.infobulle:hover span, a.infobulle:focus span, a.infobulle:active span  
{  
    text-align: center;
    top:auto;  
    left:auto;  
    width:65px;  
    height:auto;  
    overflow:visible;  
}

.icone
{
    margin-top: 15px;
    margin-left: 50px;
    float: left;
}
/****************************************/
/********************Footer********************/
/****************************************/

/*****************************************************************************************/
/****************************** Styles Page de Contact **********************************/
/***************************************************************************************/

#ContainerForm
{
    margin-bottom: 25px;
}

#ContainerForm table {
    width: 100%;
}

#ContainerForm form label {
    padding-right: 10px;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
}

#ContainerForm form #nom, #ContainerForm form #email {
    width: 250px;
}

#ContainerForm input:required {
    background: url(../images/red_asterisk.png) 98% center no-repeat white;
}

#ContainerForm input:focus:invalid, textArea:focus:invalid {
    background: url(../images/invalid.png) 98% center no-repeat white;
}

#ContainerForm textArea:focus:invalid {
    background: url(../images/invalid.png) 98% top no-repeat white;
}

#ContainerForm input:focus:valid {
    background: url(../images/valid.png) 98% center no-repeat white;
}

#ContainerForm #nom:valid {
    background: url(../images/valid.png) 98% center no-repeat white;
}

#ContainerForm #email:valid {
    background: url(../images/valid.png) 98% center no-repeat white;
}

#ContainerForm textArea:focus:valid {
    background: url(../images/valid.png) 98% top no-repeat white;
}

#ContainerForm textArea:required {
    background: url(../images/red_asterisk.png) 99% 5% no-repeat white; 
}

#nom, #email {
	height: 25px;
	margin-bottom: 5px;
        padding-left: 3px;
        -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#commentaires {
        height: 60px;
        margin-bottom: 3px;
        width: 406px;
        margin-left: 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
}

#mySubmit {
        margin-left: 250px;
}
/*****************************************************************************************/
/******************************Fin Styles Page de Contact **********************************/
/***************************************************************************************/

/*****************************************************************************************/
/****************************** Style Fiche Séries **********************************/
/***************************************************************************************/
#affiche
{
    width: 800px;
}

#affiche img
{
    height: auto ;
    max-width: 200px;  
    float: left;
    margin-right: 50px;
    margin-left: 80px;
    text-align: center;
}

#synopsis
{
   height: auto;
   width: 500px;
   float: left;
   text-align: left;
   color: #D2D3D0;
   text-shadow: 2px 2px black;
}

#cast
{
    margin-left: 80px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.casting
{
    clear: both;
    display: inline-block;
    width: 550px;
    margin-bottom: 30px;
    height: 646px;
}

.liste_acteur ul
{
    list-style: none;
    text-align: center;
    padding-left: 65px;
}

.liste_acteur li
{
    float: left;
    width: 126px;
}
.liste_acteur ul li
{
    margin-right: 10px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.liste_acteur p
{
    margin-bottom: 10px;
    width: 126px;
    height: 40px;
}

.liste_acteur img
{
    width: 100px;
    height: 141px;
}
.bloc_trailer
{
    float: right;
    width: 450px;
    height: 646px;
    
}
.texte_trailer
{
    margin: 0px;
    margin-top: 16px;
    width: 100px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.titre_infos
{
    float: left;
    margin-top: 16px;
    width: 400px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}

.texte_infos
{
    margin-top: 16px;
    width: 400px;
    color: #D2D3D0;
    text-shadow: 2px 2px black;
}
iframe
{
    float: right;
    width: 440px;
    height: 260px;
    margin-right: 40px;
    margin-left: 40px;
}